.youtube {
    color: #EE0F0F;
}
.dbt {
    color: #FA6B4C;
}
.snowflake {
    color: #30B4EC;
}
.powerbi {
    color: #ECBC14;
}
.dagster {
    color: #4B43DB;
}
.docker {
    color: #1661EC;
}
.cloud {
    color: #9C9CA4;
}
